altair==6.0.0
anyio==4.15.1
anywidget==0.9.21
asttokens==3.0.2
attrs==26.1.0
backports.zstd==1.7.0
click==8.5.0
cloudpickle==3.1.2
comm==0.2.3
contourpy==1.4.0
cycler==0.12.1
dataclasses==0.6
docutils==0.23
duckdb==1.4.4
executing==2.2.1
fonttools==4.65.0
h11==0.16.0
idna==3.20
ipython==9.17.1
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.9
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.6.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyterlab_widgets==3.0.17
kiwisolver==1.5.1
loro==1.13.2
marimo==0.24.2
marimo-chem-utils==0.2.4
Markdown==3.10.3
MarkupSafe==3.0.3
matplotlib==3.11.2
matplotlib-inline==0.2.2
msgspec==0.21.1
narwhals==2.26.0
numpy==2.4.3
packaging==26.3
pandas==2.3.3
parso==0.8.7
pexpect==4.9.0
pillow==12.3.0
prompt_toolkit==3.0.53
psutil==7.2.2
psygnal==0.16.1
ptyprocess==0.7.0
pure_eval==0.2.4
py3Dmol==2.5.5
pyarrow==25.0.1
Pygments==2.21.0
pymdown-extensions==11.0.2
pyparsing==3.3.2
pystow==0.9.4
python-dateutil==2.9.0.post0
python-multipart==0.0.32
pytz==2026.3.post1
PyYAML==6.0.3
pyzmq==27.2.0
rdkit==2025.9.6
referencing==0.37.0
rpds-py==2026.6.3
scikit-learn==1.9.1
scipy==1.18.1
seaborn==0.13.2
six==1.17.0
stack-data==0.6.3
starlette==1.6.0
threadpoolctl==3.7.0
tomlkit==0.15.1
tqdm==4.70.1
traitlets==5.14.3
typing_extensions==4.16.0
tzdata==2026.4
useful_rdkit_utils==0.96
uvicorn==0.53.0
wcwidth==0.8.4
websockets==17.1
widgetsnbextension==4.0.16
